* {
  margin: 0;
  padding: 0;
  /* border: 2px solid gold; */
}

@import url("https://fonts.googleapis.com/css?family=Notable");
@import url("https://fonts.googleapis.com/css?family=Notable|Source+Sans+Pro");

body {
  width: 100%;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

footer > img {
  width: 20%;
}

footer > div {
  width: 20%;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#game-board {
  border: 3px solid #333;
  box-sizing: content-box;
}

.row {
  width: 600px;
  height: 75px;
  display: flex;
}

.square {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #59c9a5;
}

.light {
  background-color: #fffcf9;
}

.player0 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #db3a34;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  border: 3px solid white;
}

.darker {
  background-color: #07483c;
  cursor: pointer;
}

.selected {
  border: 3px solid #f0c808;
}

.noBorder {
  border: 0px;
}

/*
  GENERAL STYLES
*/

/* flex justifyCenter widthP100 height100 */
.flex {
  display: flex;
}
.justifyCenter {
  justify-content: center;
}
.widthP100 {
  width: 100%;
}
.height100 {
  height: 100px;
}
.alignCenter {
  align-items: center;
}

/*
  ====================== BEGINNING OF CSS FILE ======================
*/

/*
====================== BACKGROUND IMAGE AND CREDITS ====================== 
*/
#background-image {
  background-image: url(./img/bg.jpg);
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  background-repeat: repeat-y;
  background-size: contain;
}
#image-credits {
  color: #fffcf9;
  font-family: "Source Sans Pro", sans-serif;
  text-align: right;
  margin-right: 5%;
  margin-bottom: 5%;
}

/*
  ====================== GAME INFO CONTAINER ====================== 
*/
#game-info {
  width: 80vw;
  margin: 5vh auto 0 auto;
  height: auto;
  background-color: #e8e9f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
}
#score-container {
  background-color: #fffcf9;
  display: flex;
}
.button {
  width: 200px;
  background-color: #59c9a5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 5px;
}
.button:hover {
  background-color: #07483c;
  width: 200px;
  cursor: pointer;
  color: #fffcf9;
}
#score-title {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #174259;
  font-family: "Source Sans Pro", sans-serif;
}
#score-info {
  display: flex;
  width: 100%;
}
#black-score {
  font-family: "Source Sans Pro", sans-serif;
  height: 70px;
  flex: 1;
  background-color: #333333;
  color: #fffcf9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#red-score {
  font-family: "Source Sans Pro", sans-serif;
  height: 70px;
  flex: 1;
  background-color: #b3001b;
  color: #fffcf9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*
  ====================== INSTRUCTIONS MODAL ====================== 
*/
#instructions {
  margin: 10vh auto;
  width: 80vw;
  height: auto;
  background-color: #e8e9f3;
  border-radius: 10px;
  display: none;
}
#instructions-header {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  color: #04151f;
}
#header-line {
  width: 20%;
  height: 1vw;
  background-color: #b3001b;
}

/*
  ====================== INSTRUCTIONS SECTION STYLING ====================== 
*/
.instructions-section {
  width: 90%;
  height: auto;
  margin: 50px auto;
}
.section-title {
  background-color: #174259;
  color: #fffcf9;
  font-size: 1.5vw;
  padding: 20px 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}
.section-info {
  margin: 20px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3vw;
  line-height: 1.8vw;
}
