/* @import url("https://fonts.googleapis.com/css?family=Notable|Source+Sans+Pro");


/*
====================== BEGINNING OF CSS FILE ======================
*/

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Sans+Pro");

/*
====================== BACKGROUND IMAGE AND CREDITS ====================== 
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

#background-image {
  background-image: url(./img/bg.jpg);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-repeat: repeat-y;
  background-size: cover;
  overflow: auto;
}

#image-credits {
  color: #fffcf9;
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  top: 200px;
  right: 10px;
  z-index: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  justify-content: space-between;
}

/*
====================== GAME INFO CONTAINER ====================== 
*/

#game-info {
  width: 90%;
  left: 5%;
  right: 5%;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
}

#score-info {
  width: 100%;
  height: 50px;
  display: flex;
}

#game-options {
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
}

#game-options > div {
  width: auto;
  height: 100%;
  display: flex;
}

#game-options > div > .button {
  height: 100%;
  text-transform: uppercase;
}

#score-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59c9a5;
}

.button:hover {
  background-color: #07483c;
  cursor: pointer;
  color: #fffcf9;
}

.button-selected {
  background-color: #07483c;
  color: #fffcf9;
}

.enabled {
  background-color: #333;
  width: 200px;
  height: 100%;
  margin: 0px 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.audio-image1 {
  width: 30px;
  height: 30px;
  background-image: url(./img/speaker.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.audio-image2 {
  width: 30px;
  height: 30px;
  background-image: url(./img/speaker1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.rotate-image1 {
  width: 30px;
  height: 30px;
  background-image: url(./img/rotate.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.rotate-image2 {
  width: 30px;
  height: 30px;
  background-image: url(./img/rotate1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.option-title {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#score-container {
  width: 100%;
  height: 70px;
  display: flex;
}

.scorecard {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fffcf9;
  font-size: 1.5vw;
}
.black {
  background-color: #333;
}
.red {
  background-color: #db3a34;
}

/*
====================== INSTRUCTIONS MODAL ====================== 
*/
#instructions {
  margin: 30px auto;
  width: 80vw;
  height: auto;
  background-color: #e8e9f3;
  border-radius: 10px;
  padding: 0px 30px;
  box-sizing: border-box;
  visibility: visible;
  opacity: 0;
  padding-bottom: 20px;
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  z-index: 0;
  transition: opacity 2s ease-in-out;
}
#instructions > img {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#instructions-header {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  color: #04151f;
}
#header-line {
  width: 20%;
  height: 1vw;
  background-color: #b3001b;
}

/*
  ====================== ACCORDION STYLING ====================== 
*/
/*
  Outer container of the accordion
*/
.ui-accordion {
  width: 100%;
  height: auto;
}
/*
  Header of the accordion
*/
.ui-accordion-header {
  background-color: #174259;
  color: #fffcf9;
  font-size: 1.5vw;
  padding: 20px 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.ui-accordion-header-active {
  /* display: flex; */
}
.ui-accordion-header-collapsed {
  /* display: flex; */
}
.ui-accordion-header-icon {
  /* display: flex; */
}
.ui-accordion-content {
  padding: 20px 50px;
  font-size: 1.3vw;
  line-height: 1.8vw;
  overflow: visible;
  width: 100%;
  height: 25vw;
  box-sizing: border-box;
}

/*
  ====================== GAME CONTAINER + BOARD ====================== 
*/

#game-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 190px;
  z-index: 1;
}

.row {
  width: auto;
  height: auto;
  display: flex;
}

.square {
  box-sizing: content-box;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-border {
  width: 3px;
  background-color: #333;
}
.vertical-border {
  height: 3px;
  background-color: #333;
}

.dark {
  background-color: #59c9a5;
}

.light {
  background-color: #fffcf9;
}

.player {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  ====================== HIGHLIGHT ====================== 
*/
.highlightChecker {
  border: 3px solid #fffcf9;
}

.highlightSquare {
  background-color: #07483c;
  cursor: pointer;
}

.selectChecker {
  border: 3px solid yellow;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

#game-over-container {
  display: none;
  width: 60vw;
  height: 50vh;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#game-over-container h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5vw;
  color: #fffcf9;
}
#game-over-container p {
  font-size: 2.5vw;
}
#game-over-container > div {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  ====================== GHOST CONTAINER STYLING ====================== 
*/
#ghost-container {
  width: 100vw;
  height: 100vh;
}

/*
  ====================== GAME BOARD ====================== 
*/
.rotate-board-1 {
  animation: rotateBoard1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.board-state-1 {
  transform: rotate(180deg);
}
.rotate-board-2 {
  animation: rotateBoard2;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.board-state-2 {
  transform: rotate(360deg);
}
.rotateChecker {
  transform: rotate(180deg);
}

/*
  ====================== ROTATE BOARD ANIMATION ====================== 
*/
@keyframes rotateBoard1 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.6) rotate(0deg);
  }
  75% {
    transform: scale(0.6) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}

@keyframes rotateBoard2 {
  0% {
    transform: scale(1) rotate(180deg);
  }
  25% {
    transform: scale(0.6) rotate(180deg);
  }
  75% {
    transform: scale(0.6) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
